span {
      font-family: Courier New;
      font-size:30px;
      font-weight: bold;
}

body {
      background-color: "#5b0099";
      text-decoration-color:"#d9b3ff";
}

div {
      font-family=Impact;
      color=d9b3ff;
      align="center"
}
